<div class="cont7">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <div class="text">
          <div class="btn-2">
            <div class="back">
              <li><a routerLink="/" routerLinkActive="active"><button class="btn2">
                Назад
              </button> </a></li>
            </div>
          </div>
          <div class="icons">
            <div class="icon">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </div>
            <div class="icon">
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </div>
            <div class="icon">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </div>
            <div class="icon">
              <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </div>
          </div>
          <div class="btn-1">
            <div class="next">
              <li><a routerLink="/third" routerLinkActive="active"><button class="btn1">
                Далее
              </button> </a></li>
            </div>
          </div>
          <div class="text-1">
            <a href="#">Trends & Insights</a>
          </div>
          <div class="text-2">
            <b>6 ways for financial & legal<br>
              marketers to differentiate their<br>
              firm through video</b>
          </div>
          <div class="text-3">
            <b>Eric Mathes</b><br>
            <span class="data">
              Oct 15, 2019
            </span>
          </div>
          <div class="images">
            <img src="https://via.placeholder.com/700x400?text=Visit" class="image">
          </div>
        </div>
        <div class="row justify-content-center text-left">
          <div class="col-md-8">
            <div class="text-4">
              Y our job is marketing finance or law, you may feel like you've got it
              tougher than marketers in other industries. With these sectors so heavily

              regulated, and with so many established, big-time ﬁrms within both fields, some
              strategies are more eficient and effective than others when creating legal and financial
              education content.
              <br>
              <br>

              While some financial and law ﬁrm marketing teams are still slogging away at blogging and
              wasting their budgets on paid ads that people rarely click, savvy ﬁrms are shifting their focus
              to the medium of the future: Video. With advancements in tech, the price of producing
              professional-quality videos has dropped significantly. More importantly, it's never been
              simpler for teams marketing finance or law to create video clips in-house.
              <br>
              <br>

              Still, there needs to be a sound set of strategies behind content marketing for law ﬁrms and
              financial institutions that goes deeper than discussing your services or products. For
              maximum efficacy, firms should create videos that differentiate it by featuring the people anc
              philosophies behind the practice.
              <br>
              <br>

              Here are six ways to start using video to do just that, without breaking the bank or taking up
              more of your team's bandwidth.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

