<div class="cont8">
  <div class="container">
    <div class="row" *ngFor="let item of getExplore()">
      <div class="col-md-6">
        <div class="text">
          <div class="text-1">
            <h3>
              {{item.title}}
            </h3>
          </div>
          <br>
          <div class="text-2">
           {{item.text}}
          </div>
          <button type="button" class="btn btn1">{{item.button}}</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="url">
          <img src="{{item.url}}" class="image">
        </div>
      </div>
    </div>
  </div>
</div>
