<div class="news">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
         <div class="text">
          <div class="images">
            <img src="{{url}}" class="image">
          </div>
          <div class="text-1-2">
            <div class="text-1">
              <h1>{{title}}</h1>
            </div>
            <div class="text-2">
                {{name}}
              <span class="data">{{data}}</span>
                <button class="btn1">Editor</button>
            </div>
            <div class="text-3">
                {{text}}
            </div>
            <div class="text-4">
              <h5>{{keep}}
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
              </h5>
            </div>
          </div>
       </div>
      </div>
    </div>
  </div>
</div>
