.container-fluid {
  justify-content: center;
  font-family: 'Nunito', sans-serif;
}
.text {
  display: flex;
}

.text:hover {
  background-color: #8080802b;
}

.text-1-2 {
  margin: 20px 0 0 50px;
}

.image {
  border-radius: 50%;
  margin-bottom: 50px;
}

.btn1 {
  color: white;
  background-color: dodgerblue;
  border-radius: 3px;
  width: 55px;
  height: 25px;
  margin-left: 10px;
  border: none;
}

.data {
  opacity: .6;
  margin-left: 5px;
}

.text-1, .text-2, .text-3 {
  padding-bottom: 15px;
}

.text-4 {
  padding-bottom: 15px;
  color: #0098f7;
}

