<div class="cont13">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="text">
          <div class="text-1">
            <h5><b>5. Announce and promote events your ﬁrm is hosting</b></h5>
            Content marketing for law firms and ﬁnancial institutions can also play off real-world events
            you throw. Shearman & Sterling created this short promotional video in the Wibbitz platform
            that announced and shared details about the 2nd Annual Women General Counsel Forum
            <br>
            <br>

            they hosted in 2019.
            <br>
            <br>

            Not only is this incredibly simple law ﬁrm marketing to plan and execute, it also offers insight
            into the company’s values, philosophy, and mindset for potential new hires.
            <br>
            <br>

            Plus, you can create recap videos of your event that attendees can share to show credibility —
            and entice those who missed out to attend the next one.
          </div>
        </div>
        <div class="images">
          <img src="https://via.placeholder.com/700x300?text=Visit" class="image">
        </div>
      </div>
    </div>
  </div>
</div>
