<div class="cont6">
  <div class="container justify-content-between">
    <div class="row">
      <div class="col-md-6">
        <div class="text">
          <div class="ready">
            <h1>
              Ready to take a<br />
              test drive?
            </h1>
          </div>
          <div class="text-1">
            We`ll help you elevate your video content strategy.<br />
            Prices starting from $49 a month.
            <span class="see">See pricing</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input text-right">
          <span class="enter"> @ Enter work email</span>
          <button type="button" class="btn btn1">Try it Free</button>
        </div>
        <img src="../../../../../assets/images/image-15.jpg" class="image" />
      </div>
    </div>
  </div>
</div>
