<div class="cont11">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="text">
          <div class="text-1">
            <h5><b>3. Provide valuable information to earn viewers’ trust</b></h5>
            Video content marketing for law firms and ﬁnancial institutions is also a powerful medium for
            building trust with your audience. By providing value to viewers — and not expecting or asking
            for anything in return — you’ll create goodwill with people who will remember your firm when
            they could actually use its products or services.
            <br>
            <br>

            GO Banking Rates created the following video as part of a financial education content
            campaign that teaches people how to find no-fee ATMs — and that some banks will reimburse
          </div>
        </div>
        <div class="images">
          <img src="https://via.placeholder.com/700x300?text=Visit" class="image">
        </div>
      </div>
    </div>
  </div>
</div>
