<div class="home">
  <div class="container">
    <div class="row">
      <div class="btn-2">
        <div class="back">
          <li><a routerLink="/second" routerLinkActive="active"><button class="btn2">
            Назад
          </button> </a></li>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text">
          <div class="text-1 text-left">
        <span class="hm">Home</span> / Editor
      </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-2 text-right">
        <span class="All">All Editor Design Social</span>
        </div>
      </div>
    </div>
  </div>
</div>
