<div class="cont12">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="text">
          <div class="text-1">
            <h5><b>4. Showcase your ﬁrm’s best pro bono work</b></h5>
            Winston & Strawn LLP created another law firm marketing video for a different purpose: to
            showcase their pro bono work related to LGBTQIA issues. By highlighting how they provided
            legal services to the Tyler Clementi Foundation which helps combat bullying, supported
            transgender, gender nonconforming, and non—binary individuals in changing their legal
            names, and fought to win asylum for persecuted people all over the world, Winston & Strawn
            distinguishes itself within a massive sea of competitors whose names often sound similar and
            where it’s not always easy to tell firms apart.
          </div>
        </div>
        <div class="images">
          <img src="https://via.placeholder.com/700x300?text=Visit" class="image">
        </div>
      </div>
    </div>
  </div>
</div>
