<div class="cont14">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="text">
          <div class="text-1">
            <h5><b>6. Highlight your firm’s accolades and stats</b></h5>

            Content marketing law ﬁrms and ﬁnancial institutions can also play off real-world events
            you throw. Shearman & Sterling created this short promotional video in the Wibbitz platform
            that announced and shared details about the 2nd Annual Women General Counsel Forum
            they hosted in 2019.
            <br>
            <br>

            Videos like this exemplify how content marketing for law ﬁrms and ﬁnancial institutions is
            taking shape for the 2020s. And with the right tools at your disposal, your ﬁrm can lighten the
            bandwidth of your marketing team — and transform its content strategy for the future.
          </div>
        </div>
        <div class="images">
          <img src="https://via.placeholder.com/700x300?text=Visit" class="image">
        </div>
        <div class="text-2">
          Videos like this exemplify how content marketing for law ﬁrms and ﬁnancial institutions is<br>
          taking shape for the 2020s. And with the right tools at your disposal, your ﬁrm can lighten the<br>
          bandwidth of your marketing team — and transform its content strategy for the future.<br>
        </div>
      </div>
    </div>
  </div>
</div>
