<div class="cont9">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="text">
          <div class="text-1">
            <h5><b>1. Humanize your firm by showing causes you support</b></h5>

            These days, it‘s important for companies to appear more human, and one of the best ways to
            do so is to show what causes your firm supports. By telling stories about individuals within
            your firm and letting them speak to their beliefs, you’ll endear the company to like-minded
            people who may choose your ﬁrm to do business with, simply based on having a connection
            to the same cause.
            <br>
            <br>

            BNP Paribas does a great job of marketing finance without being salesy by highlighting their
            work in supporting microfinance institutions in the video below. By showing how the ﬁrm
            helps vulnerable people and communities across the world with strategic lending for
            humanitarian projects, the ﬁrm‘s financial education content distinguishes itself from
            competitors that fail to focus on these issues.
          </div>
        </div>
        <div class="images">
          <img src="https://via.placeholder.com/700x300?text=Visit" class="image">
        </div>
        <div class="text-2">
          In a similar vein, Univest showcases its involvement in the local community in the video
          below. By emphasizing the banking, insurance, and investment ﬁrm’s charitable donations,
          employee volunteering efforts, and educational endeavors, Univest comes off as more
          approachable and people-oriented, traits that don’t always shine through in ﬁnancial
          education content.
        </div>
        <div class="images">
          <img src="https://via.placeholder.com/700x300?text=Visit" class="image">
        </div>
      </div>
    </div>
  </div>
</div>
