.news {
  margin-top: 80px;
}

.container {
  max-width: 1024px;
}

.btn1 {
  border: none;
  background-color: blue;
  color: white;
  border-radius: 3px;
}

.next {
  top: -40px;
  right: -40px;
  position: absolute;
}

.sidebar {
  position: relative;
}

li {
 list-style: none;
}

@media only screen and (max-width: 400px) {
 .image {
   width: 370px;
   height: 240px;
 }

  .text {
    font-size: 1.5em;
  }

  .text1 {
    font-size: .8em;
  }

  .btn2 {
    margin: 10px 0 20px 0;
  }
}
