.image {
  width: 150px;
  height: 130px;
  margin-bottom: 50px;
  padding-right: 30px;
  border-radius: 5px;
}

.cont-4 {
  display: flex;
}

.images {
  width: 500px;
  height: 480px;
}

.title, .text {
  padding-bottom: 18px;
}

.read {
  text-decoration: underline;
}

.read:hover {
  color: dodgerblue;
}

.popular {
  margin-bottom: 30px;
  font-family: 'Rubik', sans-serif;
}

@media only screen and (max-width: 400px) {
  .images {
    width: 370px;
    height: 300px;
  }
}
