<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="the">
          <h4>
            The online video editor<br />
            trusted by content<br />
            creators to make<br />
            professional video<br />
            minutes
          </h4>
        </div>
        <div class="icons d-flex">
          <div class="icon">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </div>
          <div class="icon">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          </div>
          <div class="icon">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </div>
          <div class="icon">
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text">
          <b>Solutions</b>
        </div>
        <div class="url d-flex">
          <div class="images">
            <img src="../../../../assets/images/image-16.jpg" class="image" />
          </div>
          <div class="text1">
            <div class="text-1">
              Studio
            </div>
            <div class="text-2">
              Lightbox
            </div>
            <div class="text-3">
              Wavi
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="text">
          <b>Why Wibbitz</b>
        </div>
        <div class="text1">
          <div class="text-3">
            Marketing
          </div>
          <div class="text-3">
            Social Media
          </div>
          <div class="text-3">
            News & Editorial
          </div>
          <div class="text-3">
            Agencies
          </div>
          <div class="text-3">
            Internal
          </div>
          <div class="text-3">
            Communications
          </div>
          <div class="text-3">
            Enterpise
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="text">
          <b>Resources</b>
        </div>
        <div class="text1">
          <div class="text-3">
            Blog
          </div>
          <div class="text-3">
            Customers
          </div>
          <div class="text-3">
            Video Showcase
          </div>
          <div class="text-3">
            Watch a Demo
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="text">
          <b>Pricing</b>
        </div>
        <div class="text2 pt-4">
          Company
        </div>
        <div class="text-3">
          About Us
        </div>
        <div class="text-3">
          Jobs
        </div>
        <div class="text-3">
          Press
        </div>
        <div class="text pt-5">
          <b>Legal</b>
        </div>
        <div class="text-3">
          Terms and Conditions
        </div>
        <div class="text-3">
          Privacy Pol
        </div>
      </div>

      <div class="choose">
        <i class="fa fa-globe" aria-hidden="true"></i>
        Choose language
      </div>
    </div>
    <div class="Eng">
      <b>English (United States)</b>
      <span class="french">
        French
      </span>
    </div>
  </div>
</div>
